# Dependencies
node_modules/
__pycache__/
*.pyc
.env

# Build
# dist/ — NO ignorar, incluimos ui/dist/ pre-compilado para correr sin npm
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Lambda package
lambda_package.zip

# Coverage
coverage.xml
.coverage
htmlcov/
ui/coverage/

# Temp
*.tmp

terraform/.terraform/
terraform/tfplan
terraform/*.tfstate*
terraform/.build/
