# BNX Convertidor en DataLab (profile: datalab, cuenta: 107094296911)
aws_region   = "us-east-1"
project_name = "datalake"
environment  = "dev"

glue_worker_type = "G.1X"
glue_num_workers = 2

enable_daily_pipeline = false
alert_email = "benjamin.garcia@banamex.com"
